Flask
gunicorn
Jinja2
Flask-Login
Flask-WTF
Flask-Limiter
SQLAlchemy
alembic
psycopg2-binary
requests
feedparser
python-dateutil
opensearch-py
pydantic
PyYAML
python-dotenv
prometheus-client
redis
sentry-sdk
# tests
pytest
pytest-cov
factory_boy
# lint
ruff
black
mypy
pre-commit
